from fastapi import FastAPI, HTTPException
from pydantic import BaseModel
from typing import List, Optional
import pandas as pd
import mlflow
from mlflow.tracking import MlflowClient
import os
import numpy as np
import shap